<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PageTitle}}</title>
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="stylesheet" href="{{PageCSS}}">

</head>
<body>

    <header>
        <div class="container header-container">
            <div class="header-content">
                <a href="/">
                    <img src="/images/virtLogo.png" alt="App Logo" class="logo">
                </a>
                <div class="title-section">
                    <h1 class="app-title">{{PageName}}</h1>
                    <p class="app-tagline">Virtualization squad</p>
                </div>
            </div>
        </div>
    </header>
    
    <main class="container">{{MainContent}}</main>
    
    <footer>
        <div class="container footer-container">
            <img src="/images/euLogo.png" alt="Company Logo" class="footer-logo">
        </div>
    </footer>

</body>
</html>
